<div class="tabla-container">
    <h2>{{ title }}</h2>

    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" class="input-busqueda" />

    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns">{{ column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagedAndFilteredData">
                <td *ngFor="let key of objectKeys(item)">
                    <ng-container *ngIf="key === 'precio' || key == 'importe' || key == 'importe_impuesto'; else otherFields">
                        {{ item[key] | currency:'EUR':'':'1.2-2' }} €
                    </ng-container>
                    <ng-template #otherFields>{{ item[key] }}</ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="paginacion">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>