<div class="content">
  <aside>
    <nav>
      <ul class="list-menu">
        <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/pedidos" routerLinkActive="active">Pedidos</a></li>
        <li><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li>
      </ul>
    </nav>
  </aside>

  <main style="flex: 1; padding: 1rem;">
    <router-outlet></router-outlet>
  </main>
</div>