<div class="content">
  <aside>
    <nav>
      <ul class="list-menu">
        <li>
          <button type="button" class="btn btn-primary" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house-door-fill"></i> <span> Inicio</span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" routerLink="/productos" routerLinkActive="active">
            <i class="bi bi-box-seam-fill"></i> <span> Productos</span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" routerLink="/pedidos" routerLinkActive="active">
            <i class="bi bi-list-ul"></i> <span> Pedidos</span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" routerLink="/clientes" routerLinkActive="active"><i
              class="bi bi-people-fill"> </i><span> Clientes</span></button>
        </li>
      </ul>
    </nav>
  </aside>

  <main style="flex: 1; padding: 1rem;">
    <router-outlet></router-outlet>
  </main>
</div>